<strong>Olá, {{deliveryman}}</strong>
<p>Houve um cancelamento de entrega</p>
<p>
  <strong>Entrega do Produto: </strong> {{product}} <br/>
  <strong>Usuário: </strong> {{user}} <br/>
  <strong>Data/hora: </strong> {{date}} <br/>
  <br/>
</p>

